
body {
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: sans-serif;
    
}

.hero {
    display: flex;
    width:100%;
    background-color: #0e2521;
    justify-content: center;
    color:white;
}

.top {
    margin: 0 100px;
    margin-bottom: 100px;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
    align-items: center;
    gap: 10px;
}

#logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 15px;
}

#welcome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.intro-text {
    display:flex;
    justify-content: space-between;
    gap: 15px;
}

.paragraph {
    margin-bottom: 10px;
}

#bold {
    font-weight: bold;
}

button {
    background-color: #956B23;
    color: white;
    border-radius: 3px;
    box-shadow:0;
    border:0;
    padding: 3px 15px;
    
}

.intro-text ul {
    font-size: 18px;
    color: #E5E7EB;
}

#intro-image {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

#sauron {
    display:flex;
    flex-grow:1;
    height: 50%;
    width: 50%;
    max-width: 452px;
    max-height: 254px;
    border: 1px solid white;
}

.images {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

#icon_header {
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    font: #1F2937;
    margin: 50px 0px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-bottom: 75px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px
}

.box_image {
    height: 125px;
    width: 125px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.employee {
    height: 125px;
    width:125px;
    border-radius: 8px;
}

.subtext {
    width:125px;
    text-align: center;
    color: #44464b;
    font-size: 14px;
}

.quote {
    display:flex;
    background-color: #E5E7EB;
}

.quote_block {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 10%;
}

#quote_attribution, 
#quote_text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
}

#quote_attribution {
    display:flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-weight: 700;
}

.cta {
    display: flex;
    justify-content: center;
    flex-grow: 0;
}

.cta_box {
    background-color: #0e2521;
    border-radius: 5px;
    color: white;
    display: flex;
    padding: 30px 40px;
    margin: 75px 100px;
    align-items: center;
    justify-content: space-between;
}

#cta_header {
    font-size: 24px;
}

#cta_message {
    font-size: 12px;
}

#ghost_button {
    border: 1px solid white;
    border-radius: 5px;
    height: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 2em;
}

.footer {
    background-color: #956B23;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}